*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    /* font-family: 'Poppins', sans-serif;   */
}
body{
    height:100vh;
    background-color: #0fdbc7;
}

h1{
    padding:20px 0;
    font-size:72px;
    font-family: 'New Tegomin', serif;
    /* font-style: oblique; */
    color:rgba(255, 255, 255, 0.884);
    text-align:center;
}
#theme{
    position:fixed;
    top:40px;
    right: 5%;
    font-size:30px;
    outline:none;
    border:none;
    border-radius: 20px;
    background: none;
    transition: transform 1s ease-in-out;
}
#theme:hover{
    /* color:red; */
    transform: rotate(360deg);
}

.board table{
    font-size: 50px;
    /* transform: translateY(20%); */
    margin: 30px auto;
    /* background-image: linear-gradient(to bottom right, red, rgb(107, 0, 107)); */
    border:none;
    border-collapse: collapse;
}
.nav{
    border: 2px solid white;
    display: flex;
    flex-direction: row;
    height: 70px;
    padding: 10px 5%;
}
.nav p{
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    width:50%;
}
.nav button i::before{
    position: relative;
    top:2px;
    padding : 0 5px 0 5px;
}
.nav button{
    height:50px;
    color: white;
    outline: none;  
    margin-left:auto; 
    border:none;
    background:none;
    font-size: 40px;
    align-items: right;
    border-radius: 25px;
}
.nav button:hover{
    background: #74dfd4;
}
.nav button:focus{
    background-color: #56a39b
}
td{
    height:125px;
    width:125px;
    padding:10px;
    margin:auto;
    text-align: center;
    /* background-color:white; */
    /* border: 1.5px solid black; */
}
#c5{
    border: 10px solid #6aa59f;
}
#c4, #c6{
    border-top: 10px solid #6aa59f;
    border-bottom: 10px solid #6aa59f
}
#c8, #c2{
    border-left: 10px solid #6aa59f;
    border-right: 10px solid #6aa59f;
}
.result{
    font-family: Poppins, sans-serif;
    font-size: 0px;
    text-align: center;
    color: rgb(58, 59, 57);
    margin: auto;
    transition:1s ease-in-out;
    /* padding-top: 70px; */
}
.color1{
    color:rgb(58, 59, 57);
}
.color1::before{
    font-size:90px;
}
.color2{
    color:rgb(255, 247, 212);
}
#overlay{
    position:fixed;
    width:0;
    height:0;
    left:50%;
    top:50%;
    transition: 1s ease-out;
}
.result_div{
    position:absolute;
    top:30%;
    width:100%;
    z-index:3;
    opacity:0;
    transition: 1s ease-out;
    vertical-align:middle;
}   
@media only screen and (max-width: 900px)
{
    h1{
        font-size:40px;
    }
}
